<head>
    <link rel="stylesheet" href="../../public/css/aboutus.css">
</head>

<nav class="headernav navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-blight" id="ftco-navbar1">
    <div class="container">
            <a class="navbar-brand" href="/">
            <img class="navbar-brand-img pt-2 pb-3" src="../public/images/logo/Asset 25.svg" id="mhsicon" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><span class="line pr-1"></span> Home</a></li>
                <li class="nav-item active"><a href="/aboutus" class="nav-link"><span class="line pr-1"></span> About
                        Us</a></li>
                <li class="nav-item"><a href="/services" class="nav-link"><span class="line pr-1"></span> Services</a>
                </li>
                <li class="nav-item"><a href="/contactus" class="nav-link"><span class="line pr-1"></span> Contact
                        Us</a></li>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/blog">Blog</a>
                    <a href="/casestudies">Case Study</a>
                    <a href="/casestudy">Case Study Detail</a>
                </div>
                <li class="nav-item"><a onclick="openNav()" class="nav-link"><span class="line pr-1"></span>
                        <i class="fa fa-align-left more-menu-btn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="banner1" class="white-bg parallax">
    <div class="container">
        <div class="row no-gutters white-slider-text align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="dissable f-140 text-deco bolder">What is</h1>
                <div id="expandable">
                    <h1 class="text-deco letter-space-3">Myanmar High Society ?</h1>
                </div>
                <h6 id="scroll-text" class="dissable gray-text mt-120">Scroll Down</h6>
                <img id="scroll-img" src="../public/images/aboutus/icon/Asset 8.svg" alt="Icon"
                    class="dissable responsive w-5 rotate">
                <br>
                <span id="scroll-span" class="dissable">
                    <i class="fa fa-angle-down text-black-50 scrolltext1" aria-hidden="true"></i>
                    <i class="fa fa-angle-down text-black-50 scrolltext2" aria-hidden="true"></i>
                    <i class="fa fa-angle-down text-black-50 scrolltext3" aria-hidden="true"></i>
                </span>
            </div>
            <div class="dissable rotate-img-left">
                <img src="../public/images/aboutus/icon/Asset 6.svg" alt="Icon" class="responsive">
            </div>
            <div class="dissable rotate-img">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive rotate">
            </div>
            <div class="dissable rotate-img-below">
                <img src="../public/images/aboutus/icon/Asset 7.svg" alt="Icon" class="responsive">
            </div>
        </div>
    </div>
</section>

<a name="curtain" />
<section id="banner" class="background" data-aos="fade-up" data-aos-easing="linear">
    <div class="overlay">
        <div class="container">
            <div data-aos="fade-up" data-aos-duration="3000"
                class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="text-center">
                    <h1 class="f-80">Our People are Encouraged to Exceed their Potential and Make a</h1>
                    <h1 class="gold-text f-140 pt-4">Real Difference</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="founder">
    <div class="container mt-5 mb-5 pb-3 pt-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner pt-5 pb-5">
                <div class="carousel-item active">
                    <div class="row pl-5 ml-3">
                        <div class="col-md-7">
                            <h1 class="f-50 f-w-500">What Our <span class="darkgold-text">Founder</span> Says</h1>
                            <p class="pt-5 pb-4 pr-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi
                                enim ad minim veniam, quis nostrud exerci</p>
                            <h5 class="darkgold-text f-w-600">Cho Zin Wint</h5>
                            <h6 class="gray-text">Chief Executive Officer at Myanmar High Society Co.,Ltd</h6>
                        </div>
                        <div class="col-md-5">
                            <img src="../public/images/aboutus/icon/Asset 11.png" alt="Icon"
                                class="responsive m-minus-25">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row pl-5 ml-3">
                        <div class="col-md-7">
                            <h1 class="f-50 f-w-500">What Our <span class="darkgold-text">Founder</span> Says</h1>
                            <p class="pt-5 pb-4 pr-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi
                                enim ad minim veniam, quis nostrud exerci</p>
                            <h5 class="darkgold-text f-w-600">Cho Zin Wint</h5>
                            <h6 class="gray-text">Chief Executive Officer at Myanmar High Society Co.,Ltd</h6>
                        </div>
                        <div class="col-md-5">
                            <img src="../public/images/aboutus/icon/Asset 11.png" alt="Icon"
                                class="responsive m-minus-25">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row pl-5 ml-3">
                        <div class="col-md-7">
                            <h1 class="f-50 f-w-500">What Our <span class="darkgold-text">Founder</span> Says</h1>
                            <p class="pt-5 pb-4 pr-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi
                                enim ad minim veniam, quis nostrud exerci</p>
                            <h5 class="darkgold-text f-w-600">Cho Zin Wint</h5>
                            <h6 class="gray-text">Chief Executive Officer at Myanmar High Society Co.,Ltd</h6>
                        </div>
                        <div class="col-md-5">
                            <img src="../public/images/aboutus/icon/Asset 11.png" alt="Icon"
                                class="responsive m-minus-25">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="joinourteam" class="bg-gray">
    <div class="container mt-5 pb-5 pt-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center f-w-500 pt-3">Feels Like You Are One Of Us ?</h2>
                <h1 class="text-center f-w-600 pt-3">Join <span class="darkgold-text">Our Team !</span> </h1>
            </div>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
            <div class="col-md-2">
                <img src="../public/images/aboutus/icon/Asset 5.svg" alt="Icon" class="responsive">
            </div>
        </div>
    </div>
</section>

<section id="corevalue" class="bg-black">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center f-w-600 pt-3 text-white">Our <span class="lightgold-text">Core Values</span></h1>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-md-4 pl-0 pr-0">
                <div class="card corevalue-card">
                    <div class="card-body">
                        We accelerate Client ambitions by giving the right team, at the right time,
                        at a competitive cost and we give exceptional value to our clients.
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 pt-70px pl-0 pr-0">
                <div class="card corevalue-card">
                    <div class="card-body">
                        Our enthusiastic team stay on track with the Cutting-Edge Technology
                        to keep ahead of the game in this ever-changing and competitive technology industry.
                    </div>
                </div>
            </div>
            <div class="col-md-4 pl-50px">
                <img src="../public/images/aboutus/icon/Asset 15.svg" alt="Icon" class="responsive w-85">
            </div>
            <div class="col-md-4 pt-5 pl-0 pr-0">
                <div class="card corevalue-card">
                    <div class="card-body">
                        We Hire top talents and deliver high quality digitals products on time.
                        We persistently train and retain our people.
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pb-5">
            <div class="col-md-5 pt-4 pl-0 pr-0">
                <div class="card corevalue-card">
                    <div class="card-body">
                        It's our people's relentless Professional commitment to our business that has shaped our
                        success.
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-4 m-minus-47 pl-0 pr-0">
                <div class="card corevalue-card">
                    <div class="card-body">
                        The Team works independently toward the same goal in unison.
                        We value shared responsibilities and the team is encouraged to exceed their potential.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="visionmission">
    <div class="container mt-5 pb-5 pt-5">
        <div class="verticaltext">
            <h1 class="verticaltext_content_vision">Our <span class="darkgold-text">Vision </span></h1>
            <h4 class="vision-text">
                Our vision is to become Top Three technology company in Myanmar by
                delivering Global Standard digital products with Local Talents
                while enabling opportunity and empowering to our people in Myanmar.
            </h4>
        </div>
        <div class="verticaltext">
            <h1 class="verticaltext_content_mission">Our <span class="darkgold-text">Mission</span></h1>
            <h4 class="vision-text">
                To offer our services at a revolutionary price and client to focus more on their business while we help
                building the right digital team. We are passionate about creating an exceptional client experience with
                the strenght
                of a global project experiences, Myanmar High Society helps organizations transform ambitious, complex
                ideas into
                stability, accountability, and scalability digital products.
            </h4>
        </div>
    </div>
</section>

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
    var navbar = $('.headernav');
    var dissable = $('.dissable');
    var background = $('.background');

    $(window).scroll(function () {
        parallax();
        var scroll = $(window).scrollTop();
        if (scroll === 0) {
            navbar.show();
            navbar.removeClass('ftco-navbar-light');
            navbar.addClass('ftco-navbar-blight');
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
        }
        else if (scroll >= 668 && scroll <= 780) {
            navbar.show();
            navbar.addClass('ftco-navbar-light');
            navbar.removeClass('ftco-navbar-blight');
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
        }
        else if (scroll > 800) {
            navbar.show();
            navbar.removeClass('ftco-navbar-light');
            navbar.addClass('ftco-navbar-blight');
            navbar.addClass('header-small');
            navbar.addClass('header-shadow');
        }

        if (scroll > 0 && scroll < 668) {
            navbar.hide();
        }
    }).scroll();

    function parallax() {
        var ev = {
            scrollTop: document.body.scrollTop || document.documentElement.scrollTop
        };
        ev.ratioScrolled = ev.scrollTop / (document.body.scrollHeight - document.documentElement.clientHeight);
        render(ev);
    }

    function render(ev) {
        var t = ev.scrollTop;
        var y = Math.round(t * 2 / 3) - 500;
        $('#banner').css('background-position', '0 ' + y + 'px');
    }

    function scrollToAnchor(aid) {
        var aTag = $("a[name='" + aid + "']");
        $('html,body').animate({ scrollTop: aTag.offset().top }, 'slow');
    }

    $("#scroll-img").click(function () {
        scrollToAnchor('curtain');
    });

    $("#scroll-text").click(function () {
        scrollToAnchor('curtain');
    });

    $("#scroll-span").click(function () {
        scrollToAnchor('curtain');
    });

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>