<head>
    <link rel="stylesheet" href="../public/css/casestudies.css">
</head>
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top "> 
        <a class="navbar-brand pl-5" href="/">
            <img class="navbar-brand-img pt-2 pb-3" src="../public/images/logo/Asset 25.svg" id="mhsicon" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link menu-link-name"><span class="line pr-1"></span> Home</a></li>
                <li class="nav-item"><a href="/aboutus" class="nav-link menu-link-name "><span class="line pr-1"></span> About Us</a>
                </li>
                <li class="nav-item"><a href="/services" class="nav-link menu-link-name"><span class="line pr-1"></span> Services</a>
                </li>
                <li class="nav-item"><a href="/blog" class="nav-link menu-link-name"><span class="line pr-1"></span> Blog</a>
                </li>
                <li class="nav-item"><a href="/casestudies" class="nav-link menu-link-name"><span class="line pr-1"></span> Case Study</a>
                </li>
                <li class="nav-item"><a href="/contactus" class="nav-link menu-link-name"><span class="line pr-1"></span> Contact
                Us</a></li>
            </ul>
        </div>
    </nav>
</section>

<section class="banner-bg-image" id="bannertext1">
    <div class="container-fluid ">
        <div class="row banner" id="fixedobj">
            <h1 class="banner-text-h1  pt-5">Our <span class="darkgold-text">Case Studies</span></h1>
            <h3 class="banner-text pt-3">See how Myanmar High Society has helped its clients achieve</h3>
            <h3 class="banner-text">their vision of digital innovation.</h3>
        </div>
    </div>
</section>

<div class="white-overlay-text" id="overlay">
    <section class="clientsection mt-5">
        <div class="container-fluid mt-5">
            <div class="row mb-5 mt-1">
                <div class="col-md-6 pl-5 pt-4 pr-4 pb-0 mb-0">
                    <div class="whkcolumn pt-5">
                        <img src="../public/images/casestudies/icon/Asset 24.svg" class="whk-background-logo">
                        <h6 class="pt-4 client_oversea_text_center">Online Shopping Application</h6>
                        <p><a href=" ">See Full Project</a><span><img src="" class=""></span></p>

                    </div>
                </div>
                <div class="col-md-6 pr-5 pt-4 pl-4  pb-0 mb-0">
                    <div class="miucolumn pt-5">
                        <img src="../public/images/casestudies/icon/Asset 29.png" class="miu-background-logo">
                        <h6 class="pt-4 white-text client_oversea_text_center">Enterprise School Management System</h6>
                        <p><a href=" " class="white-text">See Full Project</a><span><img src="" class=""></span></p>

                    </div>
                </div>
            </div>
            <div class="row mt-1 mb-5">
                <div class="col-md-6 pl-5 pt-4 pr-4  pb-0 mb-0">
                    <div class="dpexcolumn pt-5">
                        <img src="../public/images/casestudies/icon/Asset 30.png" class="dpex-background-logo">
                        <h6 class="pt-4 white-text client_oversea_text_center">Software Outsourcing (Singapore)</h6>
                        <p><a href=" " class="white-text">See Full Project</a><span><img src="" class=""></span></p>

                    </div>
                </div>
                <div class="col-md-6 pr-5 pl-4 pt-4  pb-0 mb-0">
                    <div class="adsmodocolumn pt-5">
                        <img src="../public/images/casestudies/icon/Asset 31.png" class="adsmodo-background-logo">
                        <h6 class="pt-4 white-text client_oversea_text_center">Software Outsourcing (USA)</h6>
                        <p><a href=" " class="white-text">See Full Project</a><span><img src="" class=""></span></p>

                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12 pr-5 pl-4 pt-3 pb-5"><span class="pr-3 viewexpansion">View All Project</span>
                    <img src="../public/images/aboutus/icon/Asset 9.svg" alt="downarrow" class="responsive w-11"></div>
            </div>
        </div>
    </section>

    <section id="text-over-image">
        <div class="container-fluid">
            <div class="row row-text-over-image">
                <div class="col-md-12  pr-5 pl-5 column-text-over-image">
                    <div class="div-text-over-image">
                        <h2 class="pt-7">We accelerate<span class="darkgold-text"> Client ambitions </span>by giving
                        </h2>
                        <h2>the <span class="darkgold-text"> high quality digitals products </span> on time</h2>
                        <h2>at a competitive cost and</h2>
                        <h2>giving exceptional value to our clients.</h2>
                        <button type="button" class="btn btn-custom mt-4 mb-7">Contact Us!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="small-image-client">
        <div class="container-fluid">
            <div class="row row-product-client ">
                <div class="col-md-12 pt-5 pl-5 pr-5 column-client-heading">
                    <h2 class="dark-h2 pt-5">We are proud of contributing to the success of</h2>
                    <h2 class="dark-h2">the <span class="darkgold-text">world's leading brands.</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-5  pl-5 pr-5 row-header-client-oversea">
                    <h6 class="client_oversea_text_center">Some of our clients from Oversea</h6>
                </div>
            </div>
            <div class="row  pl-5 pr-5 mt-5 row-oversea-client-image">
                <div class="col-md-2 no-top-border pt-5 pb-4">
                    <img src="../public/images/casestudies/icon/Asset 32.png" alt="img of clients_1"
                        class="img-fluid_1">
                </div>
                <div class="col-md-2 no-top-border  pt-5 pb-4">
                    <img src="../public/images/casestudies/icon/Asset 33.png" alt="img of clients_2"
                        class="img-fluid_2">
                </div>
                <div class="col-md-2 no-top-border  pt-5 pb-4">
                    <img src="../public/images/casestudies/icon/Asset 34.png" alt="img of clients_3"
                        class="img-fluid_3">
                </div>
                <div class="col-md-2 no-top-border  pt-5 pb-4">
                    <img src="../public/images/casestudies/icon/Asset 35.png" alt="img of clients_4"
                        class="img-fluid_4">
                </div>
                <div class="col-md-2 no-top-border  pt-5 pb-4">
                    <img src="../public/images/casestudies/icon/Asset 36.png" alt="img of clients_5"
                        class="img-fluid_5">
                </div>
                <div class="col-md-2 no-top-border  pt-5 pb-4">
                    <img src="../public/images/casestudies/icon/Asset 37.png" alt="img of clients_6"
                        class="img-fluid_6">
                </div>
            </div>
            <div class="row  pl-5 pr-5 row-oversea-client-image">
                <div class="col-md-2 right-border pt-4 pb-3">
                    <img src="../public/images/casestudies/icon/Asset 38.png" alt="img of clients_7"
                        class="img-fluid_7">
                </div>
                <div class="col-md-2 right-border pt-4 pb-3">
                    <img src="../public/images/casestudies/icon/Asset 39.png" alt="img of clients_8"
                        class="img-fluid_8">
                </div>
                <div class="col-md-2 right-border pt-3 pb-3">
                    <img src="../public/images/casestudies/icon/Asset 40.png" alt="img of clients_9"
                        class="img-fluid_9">
                </div>
                <div class="col-md-2 right-border pt_custom_img pb-3">
                    <img src="../public/images/casestudies/icon/Asset 41.png" alt="img of clients_10"
                        class="img-fluid_10">
                </div>
                <div class="col-md-2 right-border pt-4 pb-3">
                    <img src="../public/images/casestudies/icon/Asset 42.png" alt="img of clients_11"
                        class="img-fluid_11">
                </div>
                <div class="col-md-2 right-border pt-4 pb-3"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12  pl-5 pr-5 pt-5 row-header-client-oversea">
                    <h6 class="client_oversea_text_center">Some of our clients from Myanmar</h6>
                </div>
            </div>
            <div class="row  pl-5 pr-5 mt-5 row-oversea-client-image">
                <div class="col-md-2 no-top-border pt-4 pb-2">
                    <img src="../public/images/casestudies/icon/Asset 43.png" alt="img of clients_12"
                        class="img-fluid_12">
                </div>
                <div class="col-md-2 no-top-border pt-5 pb-2">
                    <img src="../public/images/casestudies/icon/Asset 44.png" alt="img of clients_13"
                        class="img-fluid_13">
                </div>
                <div class="col-md-2 no-top-border pt-2 pb-2">
                    <img src="../public/images/casestudies/icon/Asset 45.png" alt="img of clients_14"
                        class="img-fluid_14">
                </div>
                <div class="col-md-2 no-top-border pt-4 pb-2">
                    <img src="../public/images/casestudies/icon/Asset 46.png" alt="img of clients_15"
                        class="img-fluid_15">
                </div>
                <div class="col-md-2 no-top-border pt-4 pb-2">
                    <img src="../public/images/casestudies/icon/Asset 47.png" alt="img of clients_16"
                        class="img-fluid_16">
                </div>
                <div class="col-md-2 no-top-border pt-4 pb-3">
                    <img src="../public/images/casestudies/icon/Asset 48.png" alt="img of clients_17"
                        class="img-fluid_17">
                </div>
            </div>
            <div class="row  pl-5 pr-5 pb-5  row-oversea-client-image">
                <div class="col-md-2 right-border pt-5 pb-3">
                    <img src="../public/images/casestudies/icon/Asset 49.png" alt="img of clients_18"
                        class="img-fluid_18">
                </div>
                <div class="col-md-2 right-border  pt-3">
                    <img src="../public/images/casestudies/icon/Asset 50.png" alt="img of clients_19"
                        class="img-fluid_19">
                </div>
                <div class="col-md-2 right-border pt-3">
                    <img src="../public/images/casestudies/icon/Asset 51.png" alt="img of clients_20"
                        class="img-fluid_20">
                </div>
                <div class="col-md-2 right-border pt_custom_img_2">
                    <img src="../public/images/casestudies/icon/Asset 12.jpg" alt="img of clients_21"
                        class="img-fluid_21">
                </div>
                <div class="col-md-2 right-border pt-5">
                    <img src="../public/images/casestudies/icon/Asset 53.png" alt="img of clients_22"
                        class="img-fluid_22">
                </div>
                <div class="col-md-2 right-border"></div>
            </div>

        </div>
    </section>
</div>

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
    var navbar = $('.headernav');
    var obj = $('#fixedobj');
    var overlay = $('#overlay');

    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 20) {
            navbar.addClass('header-small');
            navbar.addClass('header-shadow');
            navbar.removeClass('ftco-navbar-light');
            navbar.addClass('ftco-navbar-blight');
        } else {
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
            navbar.addClass('ftco-navbar-light');
            navbar.removeClass('ftco-navbar-blight');
        }
        if (scroll > 3000) {
            obj.removeClass('banner');
            obj.addClass('banner-notfixed');
            overlay.removeClass('white-overlay-text');
            overlay.addClass('white-overlay-text-notrelative');
        }
        if (scroll < 300) {
            obj.addClass('banner');
            obj.removeClass('banner-notfixed');
            overlay.addClass('white-overlay-text');
            overlay.removeClass('white-overlay-text-notrelative');
        }
    }).scroll();

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>