<head>
    <link rel="stylesheet" href="../../public/css/casestudy.css">
</head>


<nav class="headernav navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-blight" id="ftco-navbar1">
    <div class="container-fluid pl-5 pr-5">
        <a class="navbar-brand" href="/">
        <img class="navbar-brand-img pt-2 pb-3" src="../public/images/logo/Asset 25.svg" id="mhsicon" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><span class="line pr-1"></span> Home</a></li>
                <li class="nav-item"><a href="/aboutus" class="nav-link"><span class="line pr-1"></span> About Us</a>
                </li>
                <li class="nav-item"><a href="/services" class="nav-link"><span class="line pr-1"></span> Services</a>
                </li>
                <li class="nav-item"><a href="/blog" class="nav-link"><span class="line pr-1"></span> Blog</a></li>
                <li class="nav-item"><a href="/casestudies" class="nav-link"><span class="line pr-1"></span> Case Study</a></li>
                <li class="nav-item"><a href="/contactus" class="nav-link"><span class="line pr-1"></span> Contact
                        Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="banner"  id="fixedobj">
    <div class="container" id="container1">
        <img src="../public/images/casestudy/icons/Asset 24.svg" alt="" id="asset_24"> <br> <br>

        <h1 id="for_h1">
            WHK Motors Myanmar
        </h1><br>

        <p id="for_para1">
            A User-friendly Online Shopping App for Car Spare Parts.
        </p>
    </div>
</section>

<div class="white-overlay-text" id="overlay">

<div>
    <section>
        <p id="about_motor">
            WHK Motors Myanmar is one of the bigest car spare parts <br> sellers in Myanmar. We've helped them to sell
            their <br> products through an eCommerce application.
        </p>
    </section>
</div>
<div>
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-6">
                    <img src="../public/images/casestudy/icons/Asset 15.png" alt="" id="for_asset15">
                </div>

                <div class="col-6" style="padding-top: 100px;">
                    <h1 id="for_comfy">
                        Comfy UI/UX
                    </h1>
                    <p id="for_para2">
                        We created this app UI as simple <br>
                        as possible.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6" style="padding-top: 100px;">
                    <h1 id="for_avaiable">
                        Avaiable for Web
                    </h1>
                    <p id="for_para3">
                        A true power of <br>
                        feal-time oder trucking system.
                    </p>
                </div>
                <div class="col-6">
                    <img src="../public/images/casestudy/icons/Asset 16.png" alt="" id="for_asset16">
                </div>
            </div>
        </div>
    </section> <br><br>
</div>

<div>
    <section>
        <div class="container">
            <div class="row col-lg-12">
                <div class="col-3" id="for_card_img">
                    <img src="../public/images/casestudy/icons/Asset 18.png" class="card-img-top" alt="...">
                </div>
                <div class="col-3" id="for_card_img">
                    <img src="../public/images/casestudy/icons/Asset 19.png" class="card-img-top" alt="...">
                </div>
                <div class="col-3" id="for_card_img">
                    <img src="../public/images/casestudy/icons/Asset 18.png" class="card-img-top" alt="...">
                </div>
                <div class="col-3" id="for_card_img">
                    <img src="../public/images/casestudy/icons/Asset 19.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </section> <br><br>
</div>
<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6" id="for_card_img">
                    <img src="../public/images/casestudy/icons/Asset 20.png" class="card-img-top" alt="...">
                </div>
                <div class="col-6" id="for_card_img">
                    <img src="../public/images/casestudy/icons/Asset 20.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </section> <br>
</div>
<div>
    <section>
        <p id="for_para4">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <br>
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam <br>
            erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci <br>
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
        </p>
    </section>
    </div>
</div>
</div>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
    AOS.init();
    var navbar = $('.headernav');
    var obj = $('#fixedobj');
    var overlay = $('#overlay');

    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        console.log(scroll);
        if (scroll >= 20) {
            navbar.addClass('header-small');
            navbar.addClass('header-shadow');
            navbar.removeClass('ftco-navbar-light');
            navbar.addClass('ftco-navbar-blight');
        } else {
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
            navbar.addClass('ftco-navbar-light');
            navbar.removeClass('ftco-navbar-blight');
        }
        if (scroll > 800) {
            obj.removeClass('banner');
            obj.addClass('banner-notfixed');
            overlay.removeClass('white-overlay-text');
            overlay.addClass('white-overlay-text-notrelative');
        }
        if (scroll < 300) {
            obj.addClass('banner');
            obj.removeClass('banner-notfixed');
            overlay.addClass('white-overlay-text');
            overlay.removeClass('white-overlay-text-notrelative');
        }

    }).scroll();

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>