<head>
    <link rel="stylesheet" href="../../public/css/contactus.css">
</head>

<nav class="headernav navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar1">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-img pt-2 pb-3" src="../public/images/logo/Asset 25.svg" id="mhsicon" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><span class="line pr-1"></span> Home</a></li>
                <li class="nav-item"><a href="/aboutus" class="nav-link"><span class="line pr-1"></span> About Us</a>
                </li>
                <li class="nav-item"><a href="/services" class="nav-link"><span class="line pr-1"></span> Services</a>
                </li>
                <li class="nav-item active"><a href="/contactus" class="nav-link"><span class="line pr-1"></span>
                        Contact Us</a></li>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/blog">Blog</a>
                    <a href="/casestudies">Case Study</a>
                    <a href="/casestudy">Case Study Detail</a>
                </div>
                <li class="nav-item"><a onclick="openNav()" class="nav-link"><span class="line pr-1"></span>
                        <i class="fa fa-align-left more-menu-btn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="banner" class="contact-banner">
    <div class="container">
        <div class="row contacttext pt-4">
            <div class="col-12 text-center bold">
                <h1 class="f-50">Have a project or business idea ?</h1>
                <h1 class="f-50">Push the button to <span class="lightgold-text">get started !</span></h1>
            </div>
        </div>
    </div>
</section>

<section id="contactform">
    <div class="container mt-5 mb-5 pb-3 pt-3">
        <div class="row">
            <div class="col-6 mt-5">
                <img src="../public/images/logo/Asset 25.svg" class="w-50" id="mhsicon" alt="logo">
                <h4 class="darkgold-text mt-5 mb-5 bold">Myanmar High Society Co., Ltd</h4>
                <div class="media mt-3 mb-3">
                    <div class="media-left media-middle f-20 pr-3 pt-3">
                        <i class="fa fa-institution"></i>
                    </div>
                    <div class="media-body f-20">
                        <p>Room no.189, 18th Floor, Orchid Condominium, Ahlone Township, Yangon, Myanmar.</p>
                    </div>
                </div>
                <div class="media mt-3 mb-3">
                    <div class="media-left media-middle f-20 pr-3">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="media-body f-20">
                        <p>+9595231938, +959450880001</p>
                    </div>
                </div>
                <div class="media mt-3 mb-3">
                    <div class="media-left media-middle f-20 pr-3">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="media-body f-20">
                        <p>Sale: hello@myanmarhighsociety.com</p>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4">
                <form id="contact-form" method="post" action="send" role="form">
                    <div class="messages"></div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control lg-input" name="name" id="name"
                                placeholder="Your Name" required data-error="Name is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-md-10">
                            <input type="email" class="form-control lg-input" name="email" id="email"
                                placeholder="example@gmail.com" required data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-md-10">
                            <textarea class="form-control lg-input" rows="5" name="comment" id="comment"
                                placeholder="Comment *" required data-error="Please, leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LeL9toUAAAAAN17UelAE_cjHTL4djWmgQd7DOfr"
                            data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback" y>
                        </div>
                        <input class="form-control d-none" data-recaptcha="true" required
                            data-error="Please complete the Captcha">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-darkgold text-white form-control">
                                <i class="fa fa-paper-plane text-white" aria-hidden="true"></i>
                                Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="map">
    <div class="container-fluid mt-3 mb-3 pb-4">
        <div class="row">
            <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>
    </div>
</section>

<section id="final">
    <div class="container mt-5 mb-5 pb-3 pt-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="bold letter-space-3">To learn how MHS can <span class="darkgold-text">transform your
                        business.</span></h1>
                <h4>Schedule a free meeting today!</h4>
            </div>
            <div class="col-3 text-center mt-4">
                <a href="#contactform" class="btn btn-lg btn-darkgold-started text-white form-control">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="../public/js/contactus/validator.js"></script>
<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(16.790591, 96.131949),
            zoom: 15,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }

    window.addEventListener("hashchange", function () {
        window.scrollTo(window.scrollX, window.scrollY - 100);
    });

    var navbar = $('.headernav');

    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 20) {
            navbar.addClass('header-small');
            navbar.addClass('header-shadow');
            navbar.removeClass('ftco-navbar-light');
            navbar.addClass('ftco-navbar-blight');
        } else {
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
            navbar.addClass('ftco-navbar-light');
            navbar.removeClass('ftco-navbar-blight');
        }
    }).scroll();

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    $(document).ready(function () {

        window.verifyRecaptchaCallback = function (response) {
            $('input[data-recaptcha]').val(response).trigger('change');
        }

        window.expiredRecaptchaCallback = function () {
            $('input[data-recaptcha]').val("").trigger('change');
        }

        $('#contact-form').validator();

        $('#contact-form').submit(function (e) {
            if (!e.isDefaultPrevented()) {
                var loadingText = "<i class='fa fa-spinner fa-spin text-white'></i> Sending...";
                if ($('.btn-darkgold').html() !== loadingText) {
                    $('.btn-darkgold').data('original-text', $('.btn-darkgold').html());
                    $('.btn-darkgold').html(loadingText);
                }
                $(this).ajaxSubmit({
                    error: function (xhr) {
                        setTimeout(function () {
                            var messageAlert = 'alert-' + response.responseDesc;
                            var messageText = response.msg;

                            var alertBox = '<div class="alert ' + messageAlert + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + messageText + '</div>';
                            if (messageAlert && messageText) {
                                $('#contact-form').find('.messages').html(alertBox);
                                $('.btn-darkgold').html($('.btn-darkgold').data('original-text'));
                                $('#contact-form')[0].reset();
                                grecaptcha.reset();
                            }
                        }, 2000);
                    },
                    success: function (response) {
                        setTimeout(function () {
                            var messageAlert = 'alert-' + response.responseDesc;
                            var messageText = response.msg;

                            var alertBox = '<div class="alert ' + messageAlert + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + messageText + '</div>';
                            if (messageAlert && messageText) {
                                $('#contact-form').find('.messages').html(alertBox);
                                $('.btn-darkgold').html($('.btn-darkgold').data('original-text'));
                                $('#contact-form')[0].reset();
                                grecaptcha.reset();
                            }
                        }, 3000);
                    }
                });
                //Very important line, it disable the page refresh.
            }
            return false;
        });
    });

</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHQh3j_eHsS2s8bC3X_GBIAOcosP2ctjo&callback=myMap"></script>