<head>
    <link rel="stylesheet" href="../../public/css/homepage.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>

<nav class="headernav navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-blight" id="ftco-navbar1">
    <div class="container-fluid pl-5 pr-5">
        <a class="navbar-brand" href="/">
        <img class="navbar-brand-img pt-2 pb-3" src="../public/images/logo/Asset 25.svg" id="mhsicon" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link"><span class="line pr-1"></span> Home</a></li>
                <li class="nav-item"><a href="/aboutus" class="nav-link"><span class="line pr-1"></span> About Us</a>
                </li>
                <li class="nav-item"><a href="/services" class="nav-link"><span class="line pr-1"></span> Services</a>
                </li>
                <li class="nav-item"><a href="/contactus" class="nav-link"><span class="line pr-1"></span> Contact
                        Us</a></li>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/blog">Blog</a>
                    <a href="/casestudies">Case Study</a>
                    <a href="/casestudy">Case Study Detail</a>
                </div>
                <li class="nav-item"><a onclick="openNav()" class="nav-link"><span class="line pr-1"></span>
                        <i class="fa fa-align-left more-menu-btn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="banner" class="home-banner">
    <div class="container-fluid pl-5 pr-5">
        <img src="../public/images/homepage/banner/VRDevice.png" id="vrdevice" alt="vrdeviceicon" class="w-45 page-back">
        <div id="carouselExampleIndicators" class="carousel slide home-slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                   <div class="row hometext pt-4">
                        <div class="col-12 bold">
                            <h1 class="f-80 lightgold-text">Myanmar's <span class="text-white f-30">most trusted</span></h1>
                            <h1 class="f-80">Software Outsourcing</h1>
                            <h1 class="f-80">Company</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row hometext pt-4">
                        <div class="col-12 bold">
                            <h1 class="f-80 lightgold-text">Myanmar's <span class="text-white f-30">most trusted</span></h1>
                            <h1 class="f-80">Software Outsourcing</h1>
                            <h1 class="f-80">Company</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row hometext pt-4">
                        <div class="col-12 bold">
                            <h1 class="f-80 lightgold-text">Myanmar's <span class="text-white f-30">most trusted</span></h1>
                            <h1 class="f-80">Software Outsourcing</h1>
                            <h1 class="f-80">Company</h1>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators home-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>

 {{!-- Start to code Right Here --}}
<section id="service">
    <div class="container">
        <div class="row justify-content-center">
           <p class="service-title"><span>Engineering</span> as a Service </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="../public/images/homepage/icon/Asset 5.svg" class="service-img">
            </div>
            <div class="col-6">
                <p class="service-txt"> Working with global Enterprises, SME's and forward-thinking Start-Ups as their solution partners for custom-tailored software, web and mobile apps using emerging technologies</p>
                <div class="row">
                    <div class="col-4">
                        <img src="../public/images/homepage/icon/Asset 9.svg" class="service-logo">
                    </div>
                    <div class="col-4">
                        <img src="../public/images/homepage/icon/Asset 10.svg" class="service-logo">
                    </div>
                    <div class="col-4">
                        <img src="../public/images/homepage/icon/Asset 9.svg" class="service-logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- DIFFERENT ABOUT --}}
<section id="diff-about">
    <div class="container" id="different">
        <div class="row">
            <div class="col-7">
                <div class="boxed">
                    <p><span>We</span> are more than a software company in Myanmar. Our technology experts are extraordinary and we are creating impactful <br> digital experiences to help accelerate client's business. We blend in technology and innovation in a unique style that definitely make complex things easier. Our digital products are crafted and strategies developed in such a way that clients can interact smooth and ef- <br> fortless user experience.</p>
                </div>
            </div>
            <div class="col-5">
                <h1 class="diff-about-txt"> What's The Different About <span> Myanmar <br> High <br> Society </span></h1>
            </div>
        </div>
    </div>
</section>
{{!-- END HERE DIFFERENT ABOUT --}}

{{!-- FOR BLOG --}}
<section id="banner-blog">
    <div class="container-fluid">
        <h1 class="text-center font-weight-bold heading my-4 f-50"> What's <span id="blog"> Hot ?</span></h1>
        {{!-- <span class="text-right">Show more</span> --}}
        <span class="text-right right" id="toggle">Show more</span>
        <div class="show">
            <div class="row pt-4">
                <div class="col-2">
                    <div class=" border-0" style="width: 17rem;">
                        <h1 class=" font-weight-bold f-140" id="bl">BL</h1>
                        <h1 class=" font-weight-bold f-140" id="og">OG</h1>
                    </div>
                </div>
                <div class="col-3 mx-4">
                    <div class="card border-0" style="width: 20rem;">
                        <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> 13 Jan 2020</h5>
                            <p class="card-text">We've got new experience from MHS VR Research week.</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card border-0" style="width: 20rem;">
                        <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> 13 Jan 2020</h5>
                            <p class="card-text">We've got new experience from MHS VR Research week.</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 mx-4">
                    <div class="card border-0  " style="width: 20rem;">
                        <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> 13 Jan 2020</h5>
                            <p class="card-text">We've got new experience from MHS VR Research week.</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="show" style="display: none;">
                <div class="row pt-4">
                    <div class="col-4 mb-5">
                        <div class="card border-0" style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0" style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0  " style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0  " style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0  " style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0  " style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0  " style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  mb-5">
                        <div class="card border-0  " style="width: 20rem;">
                            <img class="card-img-top" src="../public/images/blog/Asset 7.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> 13 Jan 2020</h5>
                                <p class="card-text">We've got new experience from MHS VR Research week.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- END HERE BLOG --}}

<section id="client">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="client-title"> What Our <span> Clients </span> Say About Us </h1>
        </div>
        <div class="row mt-4">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col" id="slide-img">
                                <img src="../public/images/blog/Asset 7.png">
                            </div>
                            <div class="col slide-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consec teture adipiscing elit, sed diam nonum my nibh euismod tincidunt ut laoreet dolore magn aliquam erat volutpat. Ut wisi enim aa minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                                </p>
                                <h4> Sai Aung Main </h4>
                                <h5>CEO at MagicSoft </h5>
                            </div>
                        </div>    
                    </div>
                    <div class="swiper-slide"> 
                        <div class="row">
                            <div class="col" id="slide-img">
                                <img src="../public/images/blog/Asset 7.png">
                            </div>
                            <div class="col slide-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consec teture adipiscing elit, sed diam nonum my nibh euismod tincidunt ut laoreet dolore magn aliquam erat volutpat. Ut wisi enim aa minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                                </p>
                                <h4> Sai Aung Main </h4>
                                <h5>CEO at MagicSoft </h5>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col" id="slide-img">
                                <img src="../public/images/blog/Asset 7.png">
                            </div>
                            <div class="col slide-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consec teture adipiscing elit, sed diam nonum my nibh euismod tincidunt ut laoreet dolore magn aliquam erat volutpat. Ut wisi enim aa minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                                </p>
                                <h4> Sai Aung Main </h4>
                                <h5>CEO at MagicSoft </h5>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row justify-content-center">
            <p class="feature-title"> We Are <span> Featured In </span></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-1 mt-4">
                Coming Soon 
            </div>
            <div class="col-1">
                <div class="divider"></div>
            </div>
            <div class="col-1 mt-4">
                Coming Soon
            </div>
            <div class="col-1">
                <div class="divider"></div>
            </div>
            <div class="col-1 mt-4">
                Coming Soon
            </div>
            <div class="col-1">
                <div class="divider"></div>
            </div>
            <div class="col-1 mt-4">
                Coming Soon
            </div>
            <div class="col-1">
                <div class="divider"></div>
            </div>
            <div class="col-1 mt-4">
                Coming Soon
            </div>
            <div class="col-1">
                <div class="divider"></div>
            </div> 
            <div class="col-1 mt-4">
                Coming Soon
            </div>
        </div>
        
    </div>
</section>

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script>
    AOS.init();
    var navbar = $('.headernav');
    var windowWidth = $(window).width();
    $('.home-banner').mousemove(function(event){
        var moveX = (($(window).width() /2) - event.pageX) * 0.1;
        var moveX2 = (($(window).width() /2) + event.pageX) * 0.1;
        var moveY = (($(window).height() /2) - event.pageY) * 0.1;
        $('.page-back').css('margin-left', moveX + 'px');
        $('.page-back').css('margin-right', moveX2 + 'px');
        $('.page-back').css('margin-top', moveY + 'px');
        $('.page-back').css('margin-bottom', moveY + 'px');
    });
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 20) {
            navbar.addClass('header-small');
            navbar.addClass('header-shadow');
            navbar.removeClass('ftco-navbar-light');
            navbar.addClass('ftco-navbar-blight');
        } else {
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
            navbar.addClass('ftco-navbar-light');
            navbar.removeClass('ftco-navbar-blight');
        }
    }).scroll();

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

{{!-- FOR BLOG SCRIPT --}}
$("#toggle").click(function () {
        $(".show").toggle();
        var text = $('#toggle').text();
        if (text === "Show more") {
            $('#toggle').text("Show less");
        }
        else {
            $('#toggle').text("Show more");
        }
    });
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
{{!-- END HERE BLOG SCRIPT --}}

{{!-- EXAMPLE --}}
var mySwiper = new Swiper ('.swiper-container', {
    speed: 400,
    spaceBetween: 100,
    initialSlide: 0,
    //truewrapper adoptsheight of active slide
    autoHeight: false,
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    // delay between transitions in ms
    autoplay: 5000,
    autoplayStopOnLast: false, // loop false also
    
    // And if we need scrollbar
    //scrollbar: '.swiper-scrollbar',
    // "slide", "fade", "cube", "coverflow" or "flip"
    effect: 'slide',
    // Distance between slides in px.
    spaceBetween: 60,
    //
    slidesPerView: 2,

    centeredSlides: true,

    slidesOffsetBefore: 0,
   
  })
</script>