<head>
    <link rel="stylesheet" href="../../public/css/services.css">
</head>


<nav class="headernav navbar navbar-expand-lg navbar-light ftco_navbar ftco-navbar-light" id="ftco-navbar1">
    <div class="container">
        <a class="navbar-brand" href="/">
        <img class="navbar-brand-img pt-2 pb-3" src="../public/images/logo/Asset 25.svg" id="mhsicon" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><span class="line pr-1"></span> Home</a></li>
                <li class="nav-item"><a href="/aboutus" class="nav-link"><span class="line pr-1"></span> About Us</a>
                </li>
                <li class="nav-item active"><a href="/services" class="nav-link"><span class="line pr-1"></span>
                        Services</a></li>
                <li class="nav-item"><a href="/contactus" class="nav-link"><span class="line pr-1"></span> Contact
                        Us</a></li>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/blog">Blog</a>
                    <a href="/casestudies">Case Study</a>
                    <a href="/casestudy">Case Study Detail</a>
                </div>
                <li class="nav-item"><a onclick="openNav()" class="nav-link"><span class="line pr-1"></span>
                        <i class="fa fa-align-left more-menu-btn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="banner" class="bg-blue servicebanner">
    <div class="container">
        <div class="row servicetext pt-4">
            <div class="col-10 text-left">
                <h1 class="f-80 text-white">Services</h1>
                <h3 class="letter-space-3">We create awesome websites, web-based softwares and future-tech mobile
                    applications.</h3>
            </div>
            <div class="col-2"></div>
            <div class="col-1 pt-3 pb-3">
                <img src="../public/images/services/icon/Asset 6.svg" alt="Icon" class="responsive w-70">
            </div>
            <div class="col-1 pt-3 pb-3">
                <img src="../public/images/services/icon/Asset 7.svg" alt="Icon" class="responsive w-35 ml-3">
            </div>
            <div class="col-1 pt-3 pb-3">
                <img src="../public/images/services/icon/Asset 8.svg" alt="Icon" class="responsive w-70">
            </div>
        </div>
        <div class="right-bg-img">
            <img src="../public/images/services/icon/Asset 5.svg" alt="Icon" class="responsive">
        </div>
    </div>
</section>

<section id="variousDevelopment" class="bg-gray">
    <div class="container pt-5 pb-5">
        <div class="row pb-4">
            <div class="col-md-6 m-minus-140">
                <div class="card b-r-12 zindex-20">
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col-3">
                                <img src="../public/images/services/icon/Asset 15.svg" alt="Icon"
                                    class="responsive pt-3">
                            </div>
                            <div class="col-9">
                                <h5 class="bold">Custom Software Development</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh</p>
                                    <a href="#" class="gray-text linkhoverblue">
                                        <h6>Learn More</h6>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-minus-80">
                <div class="card b-r-12 zindex-20">
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col-3">
                                <img src="../public/images/services/icon/Asset 16.svg" alt="Icon"
                                    class="responsive pt-3">
                            </div>
                            <div class="col-9">
                                <h5 class="bold">Mobile Application Development</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh</p>
                                    <a href="#" class="gray-text linkhoverblue">
                                        <h6>Learn More</h6>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-minus-40">
                <div class="card b-r-12 zindex-20">
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col-3">
                                <img src="../public/images/services/icon/Asset 17.svg" alt="Icon"
                                    class="responsive pt-3">
                            </div>
                            <div class="col-9">
                                <h5 class="bold">Web Application Development</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh</p>
                                    <a href="#" class="gray-text linkhoverblue">
                                        <h6>Learn More</h6>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-20">
                <div class="card b-r-12 zindex-20">
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col-3">
                                <img src="../public/images/services/icon/Asset 18.svg" alt="Icon"
                                    class="responsive pt-3">
                            </div>
                            <div class="col-9">
                                <h5 class="bold">IOT</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                        nonummy nibh</p>
                                    <a href="#" class="gray-text linkhoverblue">
                                        <h6>Learn More</h6>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="dedicatedTeam">
    <div class="container pt-5 pb-5">
        <div class="row justify-contennt-center pt-5 pb-5">
            <div class="col-12 dedicated text-center">
                <h1 data-aos="fade-in" data-aos-easing="linear" data-aos-duration="2000" class="mb-4 bold f-48">We Have
                    a</h1>
                <h1 data-aos="fade-in" data-aos-easing="linear" data-aos-duration="2000"
                    class="darkgold-text bolder f-140 m-0 line-height-140">Dedicated</h1>
                <h1 data-aos="fade-in" data-aos-easing="linear" data-aos-duration="2000"
                    class="blue-text bolder f-140 m-0 line-height-140">Development</h1>
                <h1 data-aos="fade-in" data-aos-easing="linear" data-aos-duration="2000"
                    class="yellow-text bolder f-140 m-0 line-height-140">Te<span class="darkyellow-text">am</span></h1>
            </div>
        </div>
        <div class="left-bg-img" data-aos="zoom-in" data-aos-duration="2000">
            <img src="../public/images/services/icon/Asset 11.svg" alt="Icon" class="responsive">
        </div>
        <div class="row pt-5 mt-5 pb-5 letter-space-1" data-aos="fade-up" data-aos-duration="1200">
            <div class="col-6">
                <img src="../public/images/aboutus/banner/Group Photo.jpg" alt="Icon" class="responsive w-92">
            </div>
            <div class="col-6 pt-4">
                <h1 class="bold">We Build a <br> <span class="darkgold-text">High Performing Team</span> <br>Of Software
                    Experts</h1>
                <p class="mt-4">Working with global Enterprises, SME's and forward-thinking Start-Ups as their solution
                    partners for custom-tailored software,
                    web and mobile apps using emerging technologies.
                </p>
            </div>
        </div>
        <div class="row pt-5 mt-5 pb-5 letter-space-1" data-aos="fade-up" data-aos-duration="1200">
            <div class="col-7 pl-5 pr-5">
                <h1 class="bold">Reduce resourcing costs <br>by up to <span class="darkgold-text">50%</span></h1>
                <p class="mt-4">Working with global Enterprises, SME's and forward-thinking Start-Ups as their solution
                    partners for custom-tailored software,
                    web and mobile apps using emerging technologies.
                </p>
            </div>
            <div class="col-5">
                <img src="../public/images/services/icon/Asset 12.svg" alt="Icon" class="responsive w-70">
            </div>
        </div>
        <div class="row pt-5 mt-5 pb-5 letter-space-1" data-aos="fade-up" data-aos-duration="12000">
            <div class="col-6 text-center">
                <img src="../public/images/services/icon/Asset 13.svg" alt="Icon" class="responsive w-70">
            </div>
            <div class="col-6">
                <h1 class="bold">Forcus More On Your <br><span class="darkgold-text">Core Business</span></h1>
                <p class="mt-4">Working with global Enterprises, SME's and forward-thinking Start-Ups as their solution
                    partners for custom-tailored software,
                    web and mobile apps using emerging technologies.
                </p>
            </div>
        </div>
        <div class="row pt-5 mt-5 pb-5 letter-space-1" data-aos="fade-up" data-aos-duration="12000">
            <div class="col-7 pl-5 pr-5">
                <h1 class="bold">Get Your Product to Market <br> <span class="darkgold-text">Faster!</span></h1>
                <p class="mt-4">Working with global Enterprises, SME's and forward-thinking Start-Ups as their solution
                    partners for custom-tailored software,
                    web and mobile apps using emerging technologies.
                </p>
            </div>
            <div class="col-5">
                <img src="../public/images/services/icon/Asset 14.svg" alt="Icon" class="responsive w-80">
            </div>
        </div>
    </div>
</section>

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
    var navbar = $('.headernav');
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 20) {
            navbar.addClass('header-small');
            navbar.addClass('header-shadow');
            navbar.removeClass('ftco-navbar-dark');
            navbar.addClass('ftco-navbar-blight');
        } else {
            navbar.removeClass('header-small');
            navbar.removeClass('header-shadow');
            navbar.addClass('ftco-navbar-dark');
            navbar.removeClass('ftco-navbar-blight');
        }
    }).scroll();

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>